## pip freeze > requirements.txt
## pip install -r requirements.txt
## 가상환경 설정 후 vscode 인터프리터 확인 꼭 하기
## (하단 상태 표시줄 or Ctrl+Shift+P -> python: select interpreter)

# Core dependencies
openai
python-dotenv
chromadb

# Web crawling
beautifulsoup4
requests
lxml

# Data processing
numpy
pandas
datasets

# Additional tools
huggingface-hub
langchain
tiktoken
unstructured
import-ipynb